.choose {
    .feature-container {
        @include flex(column, center);
        .features {
            text-align: center;
            margin: 1rem 1.5rem;
            img {
                margin-bottom: 1rem;
            }
            h2 {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
                color: $ColorDarkBlue;
            }
            p {
                font-weight: 300;
                font-size: .8rem;
                color: $ColorGrayishBlue;
                margin: 0 1rem 1.5rem 1rem;
                line-height: 1.4rem;
            }
        }
    }
}

@media (min-width: 42em) {
    .choose {
        .feature-container {
            margin-bottom: 2.5rem;
            .features {
                margin: 1rem 5rem;
                p {
                    margin: 0 5rem;
                }
            }
        }
    }
}

@media (min-width: 62em) {
    .choose {
        padding: 3rem 0;
        .feature-container {
            @include flex(row, center);
            margin: 0 4rem;
            gap: 1rem;
            .features {
                margin: 0;
                text-align: left;
                img {
                    margin-bottom: 1rem;
                }
                h2 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
                p {
                    font-weight: 300;
                    font-size: .8rem;
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 87em) {
    .choose {
        padding: 3rem 0 5rem 0;
        .feature-container {
            margin: 0 4rem;
            gap: 5rem;
            .features {
                margin: 0;
                img {
                    margin-bottom: 1rem;
                }
                h2 {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}